#about {
  display: grid;

  p {
    line-height: 180%;
    color: white;
  }

  #left-side,
  #right-side {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    align-content: center;
    justify-content: center;
  }

  #left-side {
    background-color: #101820;

    h1 {
      color: #fee715;
    }
  }

  #right-side {
    background-color: #fee715;

    h1 {
      text-align: right;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      justify-items: center;
      list-style-type: none;

      li {
        display: grid;
        transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
      }

      li:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #about {
    grid-template-rows: repeat(2, 1fr);

    h1 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }

    #left-side,
    #right-side {
      padding: 1rem;
    }

    #left-side {
      gap: 0.5rem;
    }

    #right-side {
      gap: 1rem;

      ul {
        row-gap: 2rem;
        column-gap: 3rem;

        img {
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}

@media screen and (max-width: 379px) and (min-width: 321px) {
  #about {
    height: 100vh;
    grid-template-rows: repeat(2, 1fr);

    h1 {
      font-size: 28px;
    }

    p {
      font-size: 16px;
    }

    #left-side,
    #right-side {
      padding: 1rem;
    }

    #left-side {
      gap: 0.5rem;
    }

    #right-side {
      gap: 1rem;

      ul {
        row-gap: 0.5rem;
        column-gap: 3rem;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 380px) {
  #about {
    height: 100vh;
    grid-template-rows: repeat(2, 1fr);

    h1 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
    }

    #left-side,
    #right-side {
      padding: 1rem;
    }

    #left-side {
      gap: 0.5rem;
    }

    #right-side {
      gap: 1rem;

      ul {
        row-gap: 0.5rem;
        column-gap: 4rem;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  #about {
    height: 100vh;
    grid-template-rows: repeat(2, 1fr);

    h1 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
    }

    #left-side,
    #right-side {
      padding: 2rem;
    }

    #left-side {
      gap: 0.5rem;
    }

    #right-side {
      gap: 1rem;

      ul {
        row-gap: 0.5rem;
        column-gap: 4rem;

        img {
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #about {
    grid-template-columns: 60% 40%;

    h1 {
      font-size: 56px;
    }

    p {
      width: 35rem;
    }

    #left-side,
    #right-side {
      padding: 8rem 4rem;
    }

    #left-side {
      gap: 0.5rem;
    }

    #right-side {
      gap: 2rem;

      ul {
        row-gap: 2rem;
        column-gap: 4rem;

        img {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
