#about {
  display: grid;
  grid-template-columns: 60% 40%;

  h1 {
    font-size: 56px;
  }

  p {
    width: 35rem;
    line-height: 180%;
    color: white;
  }

  #left-side,
  #right-side {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    align-content: center;
    justify-content: center;
    padding: 8rem 4rem;
  }

  #left-side {
    gap: 0.5rem;
    background-color: #101820;

    h1 {
      color: #fee715;
    }
  }

  #right-side {
    background-color: #fee715;
    gap: 2rem;

    h1 {
      text-align: right;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      justify-items: center;
      list-style-type: none;
      row-gap: 2rem;
      column-gap: 4rem;

      li {
        display: grid;
        transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
      }

      li:hover {
        transform: scale(1.1);
      }

      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}
