.left-hidden,
.right-hidden {
  opacity: 0;
  transition: all 1.4s;
}

.left-hidden.show,
.right-hidden.show {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (max-width: 1279px) {
  .left-hidden {
    transform: translateX(-0.5rem);
  }

  .right-hidden {
    transform: translateX(0.5rem);
  }
}

@media screen and (min-width: 1280px) {
  .left-hidden {
    transform: translateX(-1.5rem);
  }

  .right-hidden {
    transform: translateX(1.5rem);
  }
}
