aside {
  display: grid;
  align-items: center;
  grid-area: aside;
  padding: 2.5rem;
  position: fixed;
  height: 100vh;
  background-color: #173b45;
  color: #f8eded;

  ul {
    display: grid;
    gap: 2rem;

    span {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      text-transform: uppercase;
    }

    .fa {
      width: 1.5rem;
      height: 1.5rem;
    }

    .fa {
      transition: all 0.1s linear;
    }

    span:hover {
      text-decoration-line: line-through;
    }

    .fa:hover {
      transform: scale(1.1);
    }
  }
}
