#contact {
  display: grid;

  ul {
    list-style: none;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  #left-side,
  #right-side {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    align-content: center;
    justify-content: center;
  }

  #left-side {
    background-color: #101820;

    h1 {
      color: #fee715;
    }

    form {
      display: grid;
      grid-template-rows: repeat(3, max-content);

      textarea::placeholder,
      input::placeholder {
        font-family: 'DM Sans', sans-serif;
        color: #101820;
        font-weight: 100;
      }

      input,
      textarea,
      button {
        color: #101820;
        border: none;
        font-family: 'DM Sans', sans-serif;
        font-weight: 100;
        background-color: white;
      }

      #name-email-inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      textarea {
        resize: none;
      }

      #dividor-btn {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        #dividor {
          background-color: #fee715;
        }

        button {
          width: max-content;
          cursor: pointer;
          transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
        }

        button:hover {
          transform: scale(0.96);
        }
      }

      input:focus,
      textarea:focus,
      button:focus {
        outline: none;
      }
    }
  }

  #right-side {
    grid-template-rows: repeat(2, max-content);
    background-color: #fee715;

    h1 {
      text-align: right;
    }

    ul {
      display: grid;
      grid-template-rows: repeat(2, max-content);

      li {
        display: grid;

        a {
          display: grid;
          grid-template-columns: repeat(2, max-content);
          align-items: center;
          transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
        }

        a:hover {
          color: #422057ff;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #contact {
    grid-template-rows: repeat(2, 1fr);

    h1 {
      font-size: 24px;
    }

    #left-side,
    #right-side {
      padding: 4rem 0.5rem;
    }

    #left-side {
      gap: 1rem;

      form {
        gap: 1rem;

        #name-email-inputs {
          gap: 1rem;

          input {
            width: 100px;
            height: 30px;
            padding: 0 0.5rem;
          }
        }

        textarea {
          width: 100%;
          height: 50px;
          padding: 0.5rem;
        }

        #dividor-btn {
          gap: 1rem;

          #dividor {
            height: 15px;
          }

          button {
            width: 60px;
            height: 30px;
            border-radius: 0.25rem;
          }
        }
      }
    }

    #right-side {
      gap: 2rem;

      h1 {
        text-align: center;
      }

      ul {
        gap: 1.5rem;

        li {
          a {
            gap: 0.5rem;

            .contact-icon {
              width: 20.8px;
              height: 20.8px;
            }

            span {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 379px) and (min-width: 321px) {
  #contact {
    grid-template-rows: repeat(2, 1fr);

    h1 {
      font-size: 28px;
    }

    #left-side,
    #right-side {
      padding: 4rem 0.5rem;
    }

    #left-side {
      gap: 1rem;

      form {
        gap: 1rem;

        #name-email-inputs {
          gap: 1rem;

          input {
            width: 120px;
            height: 40px;
            padding: 0 0.5rem;
          }
        }

        textarea {
          width: 100%;
          height: 60px;
          padding: 0.5rem;
        }

        #dividor-btn {
          gap: 1rem;

          #dividor {
            height: 20px;
          }

          button {
            width: 60px;
            height: 40px;
            border-radius: 0.25rem;
          }
        }
      }
    }

    #right-side {
      gap: 2rem;

      h1 {
        text-align: center;
      }

      ul {
        gap: 1.5rem;

        li {
          a {
            gap: 0.5rem;

            .contact-icon {
              width: 20.8px;
              height: 20.8px;
            }

            span {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 380px) {
  #contact {
    grid-template-rows: repeat(2, 1fr);

    h1 {
      font-size: 32px;
    }

    #left-side,
    #right-side {
      padding: 4rem 1rem;
    }

    #left-side {
      gap: 1rem;

      form {
        gap: 1rem;

        #name-email-inputs {
          gap: 1rem;

          input {
            width: 160px;
            height: 40px;
            padding: 0 0.5rem;
          }
        }

        textarea {
          width: 100%;
          height: 80px;
          padding: 0.5rem;
        }

        #dividor-btn {
          gap: 1rem;

          #dividor {
            height: 20px;
          }

          button {
            width: 80px;
            height: 40px;
            border-radius: 0.25rem;
          }
        }
      }
    }

    #right-side {
      gap: 2rem;

      h1 {
        text-align: center;
      }

      ul {
        gap: 1.5rem;

        li {
          a {
            gap: 0.5rem;

            .contact-icon {
              width: 23.2px;
              height: 23.2px;
            }

            span {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  #contact {
    grid-template-rows: repeat(2, 1fr);

    h1 {
      font-size: 36px;
    }

    #left-side,
    #right-side {
      padding: 4rem 2rem;
    }

    #left-side {
      gap: 1rem;

      form {
        gap: 1rem;

        #name-email-inputs {
          gap: 1rem;

          input {
            width: 200px;
            height: 40px;
            padding: 0 0.5rem;
          }
        }

        textarea {
          width: 100%;
          height: 100px;
          padding: 0.5rem;
        }

        #dividor-btn {
          gap: 1rem;

          #dividor {
            height: 20px;
          }

          button {
            width: 100px;
            height: 40px;
            border-radius: 0.25rem;
          }
        }
      }
    }

    #right-side {
      gap: 2rem;

      h1 {
        text-align: center;
      }

      ul {
        gap: 1.5rem;

        li {
          a {
            gap: 0.5rem;

            .contact-icon {
              width: 23.2px;
              height: 23.2px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  #contact {
    grid-template-columns: 60% 40%;

    h1 {
      font-size: 56px;
    }

    #left-side,
    #right-side {
      gap: 2rem;
      padding: 8rem 4rem;
    }

    #left-side {
      form {
        gap: 1.5rem;

        #name-email-inputs {
          gap: 1.5rem;

          input {
            min-width: 300px;
            min-height: 50px;
            padding: 0 1rem;
          }
        }

        textarea {
          min-width: 300px;
          min-height: 100px;
          padding: 1rem;
        }

        #dividor-btn {
          gap: 1.5rem;

          #dividor {
            height: 25px;
          }

          button {
            min-width: 150px;
            min-height: 50px;
          }
        }
      }
    }

    #right-side {
      ul {
        gap: 2rem;

        li {
          a {
            gap: 0.5rem;
            transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);

            .contact-icon {
              width: 27.2px;
              height: 27.2px;
            }
          }
        }
      }
    }
  }
}
