header {
  display: grid;
  padding: 0.5rem 4rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.867);
  backdrop-filter: blur(10px);

  nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  picture {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 0.5rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  #header-btns {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
  }

  nav,
  picture,
  #header-btns {
    align-items: center;
  }

  picture,
  span,
  button {
    cursor: pointer;
  }

  button {
    background-color: transparent;
    border: none;
  }

  .header-icon {
    width: 35px;
    height: 35px;
  }
}
