header {
  display: grid;
  grid-template-columns: 60% 40%;
  position: sticky;
  top: 0;
  z-index: 1000;

  nav,
  #header-btns {
    padding: 1rem 4rem;
  }

  nav.scrolled {
    background-color: #101820a9;
    backdrop-filter: blur(10px);
  }

  nav {
    display: grid;
    background-color: #101820;
    color: #fee715;

    ul {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      justify-content: center;
      list-style-type: none;
      gap: 2rem;
    }

    li {
      transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    }

    a {
      color: currentColor;
      text-decoration: none;
    }

    li:hover {
      color: white;
    }
  }

  #header-btns {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    background-color: #fee715;
    justify-content: center;
    gap: 2rem;

    picture {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      gap: 0.5rem;
      transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    }

    picture:hover {
      color: #422057FF;
    }
  }

  #header-btns.scrolled {
    background-color: #fee715a8;
    backdrop-filter: blur(10px);
  }

  nav,
  picture,
  #header-btns {
    align-items: center;
  }

  picture,
  span,
  button {
    cursor: pointer;
  }

  .header-icon {
    width: 27.2px;
    height: 27.2px;
  }
}
