* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #101820;
  font-family: 'DM Sans', sans-serif;
  font-size: 21px;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  scrollbar-width: thin;
  scrollbar-color: #101820 #fee715;
}

#root {
  display: grid;
}

@media screen and (max-width: 1279px) {
  #root {
    background-color: #101820;
  }

  html {
    scrollbar-color: #101820 transparent;
  }
}
