#skills {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 2rem;

  figure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    picture {
      padding: 2rem;
      display: grid;
      grid-template:
        "img h2"
        "p p";
      gap: 1rem;
      text-align: center;
      align-items: center;
      border: 1px dashed #173b45;
      border-radius: 0.25rem;
      transition: all 0.15s linear;
      line-height: 150%;

      svg,
      img {
        grid-area: img;
        justify-self: right;
      }

      h2 {
        font-family: "JetBrains Mono", monospace;
        font-size: 2rem;
        font-weight: 500;
        grid-area: h2;
        justify-self: left;
      }

      p {
        grid-area: p;
      }
    }

    picture:hover {
      background-color: #173b45;
      border: none;
      color: #f8eded;
      transform: translate(0, -0.25rem);
    }

    .tech-icons:hover {
      fill: #f8eded;
    }
  }
}
