article {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  width: max-content;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1000;

  div {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    #x-mark {
      color: currentColor;
      cursor: pointer;
    }
  }
}

#true {
  background-color: #31473a;
  color: #edf4f2;
}

#false {
  background-color: #990011;
  color: #fcf6f5;
}

@media screen and (max-width: 379px) {
  article {
    div {
      h1 {
        font-size: 21px;
      }
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 380px) {
  article {
    div {
      h1 {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  article {
    div {
      h1 {
        font-size: 28px;
      }
    }
  }
}
